* {
	margin: 0;
	padding: 0;
}

.bg-black {
	/* background-color: rgb(7, 7, 7); */
	background-color: black;
}

.Rectangle {
	width: 47px;
	height: 10px;
	background-color: #ff0000;
	border: 5px solid #ff0000;
	margin: 0 auto;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	list-style: none;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
}

nav ul li a {
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	color: #f0e6e6;
	font-family: Arial, Helvetica, sans-serif, Courier, monospace;
	font-weight: 500;
	transition: all 1s;
}

nav ul li a:hover {
	color: #ff0000;
}

.active {
	color: #ff0000;
	border-bottom: 1px solid #ff0000;
}

.home {
	background-image: radial-gradient(circle at 18.7% 37.8%, rgba(0, 0, 0, 0.82) 0%, rgba(240, 241, 241, 0) 90%),
		url("../img/img-1.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 900px;
}

.halloween {
	color: #ff0000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.halloween h2 {
	font-family: 'Bruno Ace SC', cursive;
	font-size: 70px;
	letter-spacing: 6px;
}

.halloween h4 {
	letter-spacing: 6px;
	margin: 10px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.halloween h3 {
	letter-spacing: 60px;
	margin-top: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-right {
	display: flex;
	align-items: center;
}

.halloween .right {
	display: flex;
	width: 240px;
	margin-right: 5px;
	height: 2px;
	background-color: #ff0000;
	border-right: 4px solid #ff0000;
}

.halloween .left {
	display: flex;
	width: 240px;
	height: 2px;
	background-color: #ff0000;
	border-left: 4px solid #ff0000;
}

.night {
	margin: 25em 0;
}

.halloween-night {
	background-image: radial-gradient(circle at 18.7% 37.8%, rgb(27, 26, 26) 0%, rgba(18, 18, 18, 0.425) 90%);
	width: 50%;
}

.halloween-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 90px;
}

.halloween-text h3 {
	color: #ff0000;
	font-size: 20px;
	margin: 20px 0;
	text-transform: uppercase;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.halloween-text p {
	color: #f0e6e6;
	width: 90%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arrow {
	text-align: right;
	margin-right: 20px;
	margin-bottom: 10px;
}

/* section-2 */
.row {
	display: flex;
}

.col-50 {
	width: 50%;
}

.about {
	padding: 5em 0;
}

.about h2 {
	color: #ff0000;
	font-size: 50px;
	text-align: center;
	font-family: 'Rubik Dirt', cursive;
}

.about-us {
	color: #f0e6e6;
	padding: 0 90px;
}

.about-text {
	/* margin: 50em 0; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-right: 5px;
}

.about-text p {
	margin: 40px 0;
	letter-spacing: 1px;
}

/* section-3 */
.night-img img {
	width: 100%;
	filter: grayscale(80%)
}

.align {
	align-items: center;
}

.night-text {
	color: #f0e6e6;
	height: 600px;
}

.night-text h2 {
	font-size: 117px;
	font-family: 'Rubik Dirt', cursive;
	/* line-height: 120px; */
}

.night-text p {
	margin: 40px 0;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 1px;
	width: 70%;
	text-align: justify;
}

/* .night-text button{
	color: aliceblue;
	padding: 10px 50px;
	border-radius: 20px;
	font-size: 15px;
	font-family: 'Rubik Dirt', cursive;
	background-color: transparent;
	border: 2px solid whitesmoke;
} */

.btn {
	padding: 10px 50px;
	border-radius: 20px;
	font-family: 'Rubik Dirt', cursive;
	background-color: transparent;
	border: 2px solid whitesmoke;
	color: aliceblue;
	border: 2px solid #f0e6e6;
	position: relative;
	z-index: 1;
	transition: color 400ms;
	overflow: hidden;
}

.btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(249, 47, 36, 0.918);
	z-index: -1;
	transition: transform 400ms ease-out;
	transform: scaleX(0);
	transform-origin: right;
}

.btn:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.btn:hover {
	color: #fff;
}

.col-33 {
	width: 33.33%;
}

.slide {
	background-image: radial-gradient(circle at 18.7% 37.8%, rgba(29, 29, 29, 0.839) 0%, rgba(18, 18, 18, 0.734) 90%);
	width: 430px;
	height: 390px;
	margin: 0 9px;
}

/* .slider {
	width: 50%;
	margin: 100px auto;
}

.slick-slide {
	margin: 0px 20px;
}

.slick-slide img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: black;
}


.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
} */

.slide-text {
	color: #f50909;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 390px;
}

.slide-text h3 {
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
	text-transform: uppercase;
}

.slide-text span {
	margin: 20px 0;
	width: 193px;
	border: 3px solid #ff0000;
}

.slide-text p {
	font-size: 22px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* section-4 */
.guest {
	padding: 15em 0;
	text-align: center;
}

.artist h2{
	color: #f0e6e6;
	font-size: 143px;
	font-family: 'Libre Franklin', sans-serif;
}

.artist span{
	color: #f50900;
	text-transform: uppercase;
	font-family: 'Aclonica', sans-serif;
}

.artist p{
	margin-top: 4em;
	color: #f50900;
	font-size: 50px;
	word-spacing: 10px;
	font-family: 'Libre Franklin', sans-serif;
}

/* section-5 */
.priorities{
	color: antiquewhite;
	text-align: center;
}

.priorities h2 {
	font-size: 35px;
	font-family: 'Libre Franklin', sans-serif;
}

.priorities p {
	font-size: 14px;
	letter-spacing: 1px;
	font-family: 'Libre Franklin', sans-serif;
	width: 60%;
	margin: 0 auto;
	padding: 40px 0;
}

.sec5-text{
	background-image: radial-gradient(circle at 18.7% 37.8%, rgb(46, 44, 44) 0%, rgba(68, 67, 67, 0.665) 90%);
	width: 650px;
	height: 300px;
	display: flex;
	margin: 30px auto;
	flex-direction: column;
	justify-content: center;
	font-family: 'Libre Franklin', sans-serif;
}

.sec5-text h3{
	color: #f50900;
}

.tickets {
	color: #ff0000;
}

/* section-6 */
.tickets {
	text-align: center;
}

.tickets h3{
	font-size: 35px;
	font-family: 'Libre Franklin', sans-serif;
}

.tickets p{
	font-size: 15px;
	font-family: 'Libre Franklin', sans-serif;
	letter-spacing: 1px;
	width: 30%;
	margin: auto;
}

.tickets input{
	position: relative;
	padding: 0px 10px;
	height: 35px;
	width: 400px;
	font-family: 'Rubik Dirt', cursive;
	border-radius: 17px;
	outline: none;
	border: none;
}

.tickets i{
	position: absolute;
	right: 500px;
	bottom: 10px;
}















@media only screen and (min-width: 600px) {
	.home {
		width: 100%
	}

	.halloween h2 {
		font-size: 60px;
	}

	.halloween h4 {
		/* font-size: 10px; */

	}
}