* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  overflow: hidden;
  /* width: 1260px; */
  margin: 0 auto;
}

.main {
  padding: 20px 80px;
}

.pos-rel {
  position: relative;
}

.pos-ab {
  position: absolute;
}

/* section-1 */
.bg-1 {
  background-color: #e9e7e7;
  /* height: 700px; */
}

.navbar {
  width: 1267px;
}

nav {
  background: #0082e6;
  height: 80px;
  /* width: 100%; */
}

label .logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

.checkbtn {
  font-size: 40px;
  color: white;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.travels-logo img {
  width: 114px;
  height: 80px;
}

@media (max-width: 952px) {
  label .logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    z-index: 100;
    transition: all 0.5s;
    text-align: center;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.z-index {
  z-index: 1;
}

.btn-1 button {
  background-color: #e9e7e7;
  padding: 10px 40px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 3s;
}

.btn-1 button:hover {
  box-shadow: 0 0 15px blue;
  background-color: cadetblue;
}

.row {
  display: flex;
}

.col-50 {
  width: 50%;
}

.travel {
  /* width: 70%; */
  padding: 0px 160px 0px 0px;
}

.travel h1 {
  font-size: 81px;
}

.travel p {
  padding: 20px 0px;
}

.btn-2 button {
  padding: 10px 40px;
  color: #e9e7e7;
  border-radius: 5px;
  background-color: #232323;
}

.sec1-img1 img {
  width: 100%;
}

.sketch1 {
  left: -310px;
  top: 260px;
}

.sketch2 {
  right: -50px;
  top: 330px;
}

/* section-2 */
.bg-2 {
  background-color: #232323;
  /* height: 500px; */
}

.create {
  text-align: center;
  margin: 0px auto;
  padding: 50px 0px;
  width: 40%;
  color: #e9e7e7;
}

.create h2 {
  font-size: 65px;
  /* text-align: center; */
}

.create p {
  padding: 15px;
  margin: 0 auto;
  width: 90%;
}

.btn-3 {
  padding: 15px;
}

.btn-3 button {
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 5px;
  color: #fffefe;
  background-color: #232323;
}

.sec-2-img1 {
  left: -110px;
  top: 30px;
}

.sec-2-img2 {
  right: -70px;
  top: 250px;
}

.col-30 {
  width: 30%;
}

.image {
  padding: 90px;
}

.image h3 {
  width: 70%;
  font-size: 25px;
  margin: 30px 0px;
}

.image p {
  margin: -10px 0px;
  width: 357px;
  text-align: justify;
}

.img-3 {
  left: -92px;
  top: -35px;
}

.img-4 {
  right: -50px;
  bottom: 0;
}

/* section-3 */
.air {
  text-align: center;
  margin-top: 200px;
}

.airplace h3 {
  padding: 30px 0px;
  width: 50%;
  margin: 0 auto;
  font-size: 80px;
}

span i {
  border-bottom: 5px solid;
}

.airplace p {
  font-size: 20px;
}

.img-5 {
  right: -210px;
  top: 0px;
}

.img-6 {
  left: 140px;
}

/* section-4 */
.sec4-img1 img {
  height: 650px;
}

.head {
  font-size: 36px;
  width: 250px;
  text-decoration: underline;
  font-weight: 700;
}

.para p {
  padding: 10px;
  width: 282px;
  text-align: justify;
}

.sec4-img3 {
  left: 40px;
  top: 185px;
}

.sec4-img4 {
  padding: 30px 0px 0px 153px;
}

/* section-5 */
.bg-3 {
  background-color: #232323;
  color: #e9e7e7;
  height: 570px;
}

.sec5-head {
  width: 507px;
  font-size: 45px;
  /* padding: 85px; */
  line-height: 65px;
}

.sec5-text {
  width: 500px;
  text-align: justify;
  margin-top: 50px;
  /* padding: 20px 90px; */
}

.sec5-text h3 {
  font-size: 25px;
}

.sec5-img img {
  padding: 20px 0px;
  width: 585px;
  height: 470px;
}

.sec5-img1 {
  bottom: -139px;
  left: -80px;
}

/* section-6 */
.bg-4 {
  background-color: #e9e7e7;
  /* height: 800px; */
}

.sec6-head {
  font-size: 55px;
  margin-bottom: 55px;
}

.sec6-img img {
  padding: 25px 100px;
  width: 83%;
}

.sec6-text {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid;
  width: 90%;
  /* margin: 15px 0px; */
  padding: 15px 0px;
}

.sec6-text p {
  padding: 15px 26px;
}

.lorem {
  border-bottom: 2px solid;
}

.sec6-text img {
  margin: 10px auto;
  height: 20px;
  text-align: center;
}

.sec6-text img:hover {
  transition: all 2s;
  transform: rotate(180deg);
}

.sec-6 {
  margin-top: 100px;
}

/* section-7 */
.bg-5 {
  background-color: #e9e7e7;
  /* height: 800px; */
}

.sec7-head {
  font-size: 81px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin: 20px;
}

.col-33 {
  width: 32%;
  margin: 0 auto;
}

/* .sec7-img {
    border-radius: 10px;
    border: 2px solid;
    padding: 100px;
    text-align: center;
    margin: 50px 0px;
} */

/* .sec7-img1 {
    
}

.sec7-img2 {
    left: 125px;
    top: 110px;
}

.sec7-text {
    margin: 50px 0px;
}

.sec7-img:hover{
    box-shadow: 0px 5px 10px 10px black;
}

.sec7-img3 {
    left: 125px;
    top: 110px;
} */

/* no circle */
.flickity-button {
  background: transparent;
}
.flickity-button:hover {
  background: transparent;
  color: black;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
.flickity-button-icon {
  fill: white;
}
.flickity-button:disabled {
  display: none;
}

/* no circle */
.flickity-button {
  background: transparent;
}
.flickity-button:hover {
  background: transparent;
  color: black;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}
.flickity-button-icon {
  fill: white;
}
.flickity-button:disabled {
  display: none;
}

.card-head {
  background: #b9b9b9;
  border-radius: 10px;
  height: 345px;
}

.card-head h3 {
  padding: 20px 0px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.card-group {
  position: relative;
  width: 300px;
  aspect-ratio: 4/5.5;
  text-align: center;
}

.card {
  position: absolute;
  width: 300px;
  aspect-ratio: 4/5.5;
  transform: scale(0);
  padding: 30px 0px;
}

.btn-group button {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid #ccc;
  margin: 0 15px;
}
path {
  fill: #ccc;
}

button:hover {
  background: #ccc;
}
button:hover path {
  fill: #333;
}

/* ---slider animation */

[data-status="moveLeft"],
[data-status="moveRight"],
[data-status="center"] {
  /*   transition: transform 500ms cubic-bezier(.24,.8,.26,.81); */
  transition: transform 300ms ease-in-out;
}

/*  go to left after button click*/
[data-status="moveLeft"] {
  transform: translate(-300px, 100px) scale(0);
}
/*  set position on the left to be shown*/
[data-status="comeFromLeft"] {
  transform: translate(-300px, 100px) scale(0);
}

/*  go to right after button click*/
[data-status="moveRight"] {
  transform: translate(300px, 100px) scale(0);
}

/* set position on the right to get shown */
[data-status="comeFromRight"] {
  transform: translate(300px, 100px) scale(0);
}

/*  scale card to 1 and position it in the center */
[data-status="center"] {
  transform: translate(0, 0) scale(1);
}

/* .carousel {
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
  max-width: 680px;
  height: 400px;
  border-radius: 20%;
}
.carousel-cell {
  margin-top: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: right;
  max-width: 250px;
  width: 100%;
  height: 335px;
  border-radius: 15px;
  counter-increment: carousel-cell;
  transition: all .3s ease;
  opacity: 0.3;
  background: #b9b9b9;
  filter: blur(2px);
  
}
  .carousel-cell.is-selected {
    filter: blur(0);
    opacity: 1;
    background: white ;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */

/* name */
/* .carousel-cell .n {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  color:black;
  counter-increment: carousel-cell;
} */

/* button */
/* .carousel-cell .b {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: green;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all .3s ease;
} */

/* picture */
/* .carousel-cell .p {
  border-radius: 15px;
  width: 250px;
  height: 250px;
  counter-increment: carousel-cell;
}
    
.carousel-cell .b:hover {
  background: #00e509;
  transform: scale(1.03);
  font-size: 16px;
}
    
.carousel-cell .b:active {
  background: white;
  color: green;
  transform: scale(0.9);
  font-size: 16px;
}
    
.carousel-cell .b-selected {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: white;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: green;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all .3s ease;
} */

/* .carousel {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  max-width: 680px;
  height: 400px;
  border-radius: 20%;
}

.carousel-cell {
  margin-top: 35px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: right;
  max-width: 250px;
  width: 100%;
  height: 335px;
  border-radius: 15px;
  counter-increment: carousel-cell;
  transition: all 0.3s ease;
  opacity: 0.3;
  background: #b9b9b9;
  filter: blur(2px);
  text-align: center;
}

.carousel-cell.is-selected {
  filter: blur(0);
  opacity: 1;
  background: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* name */
/* .carousel-cell .n {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  color: black;
  counter-increment: carousel-cell;
} */

/* button */
/* .carousel-cell .b {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: green;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all 0.3s ease;
} */

/* picture */
.sec7-img1 {
  left: 107px;
  top: 41px;
  width: 85px;
  counter-increment: carousel-cell;
}

/* .carousel-cell .b:hover {
  background: #00e509;
  transform: scale(1.03);
  font-size: 16px;
}

.carousel-cell .b:active {
  background: white;
  color: green;
  transform: scale(0.9);
  font-size: 16px;
}

.carousel-cell .b-selected {
  cursor: pointer;
  margin: auto;
  width: 180px;
  padding: 1px;
  background: white;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  color: green;
  text-align: center;
  counter-increment: carousel-cell;
  transition: all 0.3s ease;
} */

.sec7-img h3 {
  margin: 20px 0px;
}

.sec7-img p {
  margin: 20px;
}

.sec7-sketch1 {
  top: 0;
  left: -60px;
}

.sec7-sketch2 {
  bottom: -16px;
  right: -178px;
}

.sec7-sketch3 {
    bottom: 200px;
    left: 60px;
}

.sec7-sketch4 {
    bottom: 200px;
    right: 60px;
}

/* section-8 */
.sec8-head h3 {
  font-size: 81px;
}

.sec8-head input {
  padding: 10px 220px 10px 20px;
  display: block;
  margin: 30px 0px;
  border-radius: 5px;
}

.sec8-head input:hover {
  background-color: aqua;
}

.sec8-head textarea {
  border-radius: 5px;
}

.sec8-head textarea:hover {
  background-color: aqua;
}

.sec8-btn button {
  margin: 30px 0px;
  padding: 15px 165px;
  color: white;
  border-radius: 5px;
  background-color: #232323;
}

.sec8-img img {
  height: 568px;
  width: 100%;
}

/* footer */
.bg-6 {
  background-color: rgba(179, 175, 175, 0.713);
}

.col-25 {
  width: 25%;
}

.col-70 {
  width: 70%;
}

.footer-head {
  font-size: 63px;
}

.ma {
  margin: 50px 0px;
}

footer ul li {
  margin: 40px 0px;
}

.copyright {
  margin: 50px;
  font-size: 20px;
}

.footer-sketch {
  bottom: 15px;
  left: -415px;
}

@media screen and (max-width: 700px) {
  .row{
    flex-wrap: wrap;
  }
  .col-50{
    width: 100%;
  }
  .col-30{
    width: 50%;
  }
}
/*    */
