/* CSS Priority Start */
/* h2 {
    background-color: aqua;
} */
/* CSS Priority End */

/* Selector Start */
/* 01) UniversalSelector Start */
/* *{
            background-color: blue;
            color: white;
        } */
/* 01) UniversalSelector End */

/* 02) Element Selector Start  */
/* div{
            background-color: brown;
            color: white;
        } */
/* 02) Element Selector End  */

/* 03) idSelector Start */
/* #idselector {
            background-color: cadetblue;
            color: white;
        } */
/* 03) idSelector End */

/* 04) ClassSelector Start */
/* .class-selector{
            background-color: chocolate;
            color: #fff;
        } */
/* 04) ClassSelector End */

/* 05) DescendantSelectors Start */
/* ul.cust-class a{
            text-decoration: none;
            font-size: 30px;
            color: cadetblue;
        } */
/* 05) DescendantSelectors End */

/* 06) ChildSelector Start */
/* .cust-class>p>a{
            text-decoration: none;
            font-size: 30px;
            color: chocolate;
        } */
/* 06) ChildSelector End */

/* 07) AdjacentSiblingSelectors Start */
/* h1+p{
            font-size: 30px;
            font-style: italic;
            color: cadetblue;
        } */
/* 07) AdjacentSiblingSelectors End */

/* 08) GeneralSibling Start */
/* .text~p {
            font-size: 14px;
            font-style: italic;
        } */
/* 08) GeneralSibling End */

/* 09) GroupingSelector Start  */
/* .cust-div,p,label {
            background-color: teal;
            color: white;
        } */
/* 09) GroupingSelector End  */


/* 01) Attribute selector Start */
/* input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
        } */
/* 1) Attribute selector End */

/* 2) Pseudo-Classes Start */
/* a:visited {
            color: rgb(12, 213, 227);
        }
        
        a:link {
            color: rgb(2, 124, 39);
        }

        a:focus {
            color: rgb(2, 2, 124);
            outline: 1px solid rgb(199, 4, 199);
        }
        
        a:hover {
            font-size: 18px;
        }
        
        .p-cust::first-letter {
            font-size: 36px;
        }
        
        .p-cust::first-line {
            color: firebrick;
        }

        .p-cust::selection {
            background-color: orangered;
            color: white;
        }

        button:disabled {
            background-color: rgb(50, 205, 190);
        }

        input:checked {
            outline: 2px solid red;
        }

        input:required {
            outline: 2px solid rgb(238, 143, 11);
        }

        input:valid {
            outline: 2px solid green;
        }

        input:invalid {
            outline: 2px solid rgb(90, 7, 5);
        } */
/* 02) Pseudo-Classes End */

/* 03 pseudo-before Start */
/* h1::before{
            content: "~";
        }
        h1::after{
            content: "~";
        } */
/* 03 pseudo-before End */

/* Selector End */

/* BG Start */
/* div {
            height: 300px;
        }

        .background-color {
            background-color: grey;
        }

        .background-image {
            background-image: url("https://platinumlist.net/guide/wp-content/uploads/2023/03/IMG-worlds-of-adventure.webp");
            color: white;
            font-size: 25px;
        }

        .background-attachment {
            background-image: url("https://i.ytimg.com/vi/MoCjCw8Wm8s/maxresdefault.jpg");
            background-attachment: fixed;
            color: blue;
            font-size: 25px;
        }

        .background-clip {
            background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/09/c3/33/97.jpg");
            border: 15px dotted orangered;
            font-size: 30px;
            color: white;
            background-clip: content-box;
        }

        .background-origin {
            background-image: url("https://nishnaiholidays.com/wp-content/uploads/2022/12/caption.jpg");
            border: 15px dotted orangered;
            background-origin: content-box;
            font-size: 30px;
            color: white;
        }

        .background-position {
            background-image: url("https://i0.wp.com/emiratesdiary.com/wp-content/uploads/2023/04/IMG-world-of-Adventure-dubai-emiratesdiary.com_.jpg");
            border: 15px dotted orangered;
            font-size: 30px;
            color: white;
            background-position: center center;
        }

        .background-repeat {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6FRGlSfzz6orElZj1wNlLeJ_uTymdvNO3rTZg-HooVbxKBw8GtDVUqoX_7eLadbPdd4A&usqp=CAU");
            border: 15px dotted orangered;
            padding: 50px;
            background-repeat:repeat-x;
            background-repeat:repeat-y;
            background-repeat: no-repeat;
            background-position: center;
        }

        .background-size {
            background-image: url("https://images.unsplash.com/photo-1682687981630-cefe9cd73072?auto=format&fit=crop&q=80&w=1471&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            border: 15px dotted orangered;
            padding: 50px;
            background-repeat: no-repeat;
            background-position: center;
            background-size:contain;
            background-size: cover;
        }

        .background-shorthand {
            background: url("https://images.unsplash.com/photo-1550016681-60a1d9d23bf7?auto=format&fit=crop&q=80&w=1463&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")no-repeat center center /cover;
            border: 15px dotted orangered;
            padding: 50px;
            font-size: 30px;
            color: white;
        } */

/* Gradient Start */
/* h1 {
            background: linear-gradient(17deg, #e66464, #8a92eb);
            padding: 50px 0;
        } */

/* Gradient End */

/* BG Start */

/* Fonts Start */
/* * {
            font-family: sans-serif;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        @font-face {
            font-family: 'Caveat';
            src: url(Fonts/Caveat-VariableFont_wght.ttf);
        }

        .pt-50 {
            font-size: 50pt;
        } */

/* Important sizing START */
/* .px-50 {
            font-size: 32px;
        }

        .em-2 {
            font-size: 2em;
        }

        .rem-2 {
            font-size: 2rem;
        }

        .font-vh {
            font-size: 20vh;
        } */

/* Important sizing END */
/* .font-sm {
            font-size: small;
        }

        .font-prc {
            font-size: 100%;
        }

        .font-in {
            font-size: 5in;
        }

        .font-stretch {
            font-stretch: ultra-expanded;
        }

        .font-weight {
            font-weight: 600;
        }

        .font-variant {
            font-variant: small-caps;
        }

        .line-height {
            line-height: 100px
        }

        .cust-font-Caveat {
            font-family: 'Caveat';
            color: #8a92eb;
            font-size: 50px;
        } */

/* Fonts End */

/* Text Start */
/* .crl {
            color: brown;
        }

        p {
            width: 200px;
        }

        .txt-left {
            text-align: left;
        }

        .txt-center {
            text-align: center;
        }

        .txt-right {
            text-align: right;
        }

        .txt-justify {
            text-align: justify;
        }

        .txt-decor-under {
            text-decoration: underline;
        }

        .txt-decor-over {
            text-decoration: overline;
        }

        .txt-decor-srt {
            text-decoration: line-through;
        }

        .txt-trans-capi {
            text-transform: capitalize;
        }

        .txt-trans-upper {
            text-transform: uppercase;
        }

        .txt-trans-lower {
            text-transform: lowercase;
        }

        .txt-trans-none {
            text-transform: none;
        }

        .txt-indent {
            text-indent: 80px;
        }

        .txt-letter-space {
            width: 100%;
            letter-spacing: 5px;
        }

        .txt-word-space {
            width: 100%;
            word-spacing: 10px;

        }

        .txt-sd {
            text-shadow: 4px 2px 2px rgb(25 187 0 / 124%);
        } */
/* Text End */

/* BorderVsOutline Start */
/* .border-outline {
            border: 20px dashed grey;
            outline: 20px dotted orangered;
            margin: 20px;
            padding: 20px;
        }

        a {
            border-left: 2px solid goldenrod;
        }

        a:hover {
            border: 5px solid green;
            outline: 5px solid green;
        }

         .box {
            display: inline-block;
            height: 200px;
            width: 300px;
            border-top: 50px;
            border-left: 0px;
            border-right: 0px;
            border-style: double;
            border-bottom: 50px;
            border: 20px solid rgb(70, 0, 0);
            border-radius: 20px;
            border-radius: 50%;
            border-radius: 20px 10px 20px 50px;
        }

        .box1 {
            width: 200px;
            display: inline-block;
            border: 20px solid rgb(70, 0, 0);
            border-radius: 50px 0px 50px 0px;
            transition: all .5s;
        }

        .box1:hover {
            border-radius: 5px;
        } */

/* Border Style Start */
/* .border-{ border-style: none;}
       .border-{ border-style: hidden;} */
/* div {
            margin: 20px;
            height: 60px;
            border-width: 30px;
            border-color: brown;
        }

        .border-dotted {
            border-style: dotted;
        }

        .border-dashed {
            border-style: dashed;
        }

        .border-solid {
            border-style: solid;
        }

        .border-double {
            border-style: double;
        }

        .border-groove {
            border-style: groove;
        }

        .border-ridge {
            border-style: ridge;
        }

        .border-inset {
            border-style: inset;
        }

        .border-outset {
            border-style: outset;
        } */
/* Border Style End */

/* Outline Start */
/* .outline-{ outline-style: none;}
       .outline-{ outline-style: hidden;} */
/* div {
            margin: 20px;
            height: 60px;
            outline-width: 30px;
            outline-width: 30px;
            outline-color: brown;
        }

        .outline-dotted {
            outline-style: dotted;
        }

        .outline-dashed {
            outline-style: dashed;
        }

        .outline-solid {
            outline-style: solid;
        }

        .outline-double {
            outline-style: double;
        }

        .outline-groove {
            outline-style: groove;
        }

        .outline-ridge {
            outline-style: ridge;
        }

        .outline-inset {
            outline-style: inset;
        }

        .outline-outset {
            outline-style: outset;
        } */
/* Outline End */

/* BorderVsOutline End */

/* MarginPadding Start */
/* .box {
            outline: 50px solid orangered;
            border: 20px solid green;
            padding: top bottom left right;
            padding: 0px 500px 5px 10px;
            padding: top right bottom left;
            margin: 50px;
        } */
/* MarginPadding End */

/* Table Start */
/* table {
            border-collapse: collapse;
            width: 1200px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        table,
        td,
        th {
            border: 1px solid;
        }

        .table-responsive {
            width: 500px;
            overflow: auto;
            background-color: rgba(34, 16, 77, 0.473);
        }

        thead tr {
            background-color: rgb(59, 59, 59);
            color: white;
        }

        tbody>tr:nth-child(even) {
            background-color: rgb(176, 176, 176);
            background-color: rgb(138, 171, 136);
        }

        tbody>tr:nth-child(odd) {
            background-color: rgb(184, 227, 180);
        }

        tbody>tr:hover {
            background-color: rgb(76, 85, 75);
            color: white;
        } */
/* Table End */

/* OverFlow Start */
/* p {
         height: 200px;
         width: 200px;
         overflow-y: hidden;
         overflow-y:auto;
         overflow-y:scroll;
         overflow-y:visible;
         overflow-x:scroll;
         overflow: auto;
         background-color: rgba(147, 39, 39, 0.685);
    } */

/* OverFlow End */

/* Filter Start */
/* img {
            width: 100%;
        }

        .imgfilter-blur {
            filter: blur(5px);
        }

        .imgfilter-brightness {
            filter: brightness(1.5);
        }

        .imgfilter-contrast {
            filter: contrast(300%);
        }

        .imgfilter-drop-shadow {
            filter: drop-shadow(16px 16px 20px red)
        }

        .imgfilter-grayscale {
            filter: grayscale(60%);
        }

        .imgfilter-hue-rotate {
            filter: hue-rotate(90deg);
        }

        .imgfilter-invert {
            filter: invert(75%);
        }

        .imgfilter-opacity {
            filter: opacity(50%);
        }

        .imgfilter-saturate {
            filter: saturate(40%);
        }

        .imgfilter-sepia {
            filter: sepia(90%);
        } */
/* Filter End */

/* Boxsizeborderbox Start */
/* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        div[class*="box"] {
            height: 200px;
            width: 300px;
        }

        .wrapper {
            display: flex;
            width: 1200px;
            margin: 0 auto;
        }

        .box-1 {
            background-color: grey;
            padding: 50px;
        }

        .box-2 {
            background-color: green;
            padding: 80px;
        }

        .box-3 {
            background-color: yellow;
            padding: 100px;
        }

        .box-4 {
            background-color: blue;
            padding: 150px;
        } */

/* Boxsizeborderbox End */

/* Cursor Start */
/* .cursor {
            height: 40px;
            width: 10%;
            text-align: center;
            background-color: #8a92eb;
            cursor: alias;
            cursor: all-scroll;
            cursor: crosshair;
            cursor: col-resize;
            cursor: move;
            cursor: e-resize;
            cursor: pointer;
        } */
/* Cursor End */

/* Shadow Start */
/* .shadow{  
            text-shadow: 5px 5px 5px rgb(244, 33, 9);
            box-shadow: 20px 10px 2px grey;
        } */
/* Shadow End */

/* List Start */
/* ul{list-style-type: none;  } */
/* ul li{list-style-image: url('https://media.istockphoto.com/id/476872514/photo/abstract-image-of-lighting-flare.jpg?s=1024x1024&w=is&k=20&c=xbdY4yYFfnKAn73-TPmHNVm2IbzX5Vtzy8LLwmX2iRk=');  } */
/* List End */

/* Mixture Start */
/* .min-width{
            display: inline-block;
            min-width: 150px;
            background-color: teal;
        }
        .max-width{
            display: inline-block;
            max-width: 150px;
            background-color: blue;
        }
        .width{
            display: inline-block;
            width: 150px;
            background-color: chocolate;
        }
        .cal{
            width: 80% ;
            width: calc(80% - 2em) ;
            margin: 0 auto;
            background-color: brown;
        } */
/* Mixture End */

/* Visiblity V/s Disp Start */
/* .visihid{
            visibility: hidden;
        }
        .dispnone{
            display: none;
        }
        .visi-col{
            visibility: collapse;
        } */
/* Visiblity V/s Disp End */

/* Display Start */
/* div[class*="border"] {
    border: 1px solid;
}

.border-disp-block {
    display: block;
}

.border-disp-inline {
    display: inline;
    margin: 20px;
    padding: 30px;
}

.border-disp-inline-block {
    display: inline-block;
    margin: 20px;
    padding: 30px;
} */

/* Display Flex Start */
/* * {
    border: 1px solid;
}

.row {
    display: flex;
}

.flex-direct {
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.box-25 {
    width: 25%;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}
.flex-gap{
    gap: 20px;
}
.box-grow1{
    flex-grow: 1;
} */
/* Display Flex End */

/* GridTemplateArea Start */
/* div {
    border: 1px solid;
}

.parent {
    display: grid;
    grid-template-columns: auto 30px 250px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "header header header"
        "main . sidebar"
        "footer footer footer"
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

@media (max-width: 600px) {
    .parent {
        grid-template-columns: auto;
        grid-template-rows: 50px auto auto 50px;
        grid-template-areas: "header"
        "footer"
        "sidebar"
        "main"
    }
} */
/* GridTemplateArea End */

/* DisplayGrid Start */
/* * {
    border: 1px solid;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3,0fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1/3;
    grid-row: 1;
    background-color: rgba(102, 51, 153, 0.533);
}

.two {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: rgba(255, 0, 0, 0.646);
}

.three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: rgba(30, 38, 74, 0.646);

}

.four {
    grid-column: 3;
    grid-row: 3;
    background-color: cadetblue;
}

.five {
    grid-column: 2;
    grid-row: 4;
    background-color: burlywood;
}

.six{
    grid-column: 3;
    grid-row: 4;
    background-color: cornflowerblue;
} */
/* DisplayGrid End */

/* Image Gallery Start */
/* .wrapper{
    columns: 3;
}
.img img{ 
    width: 100%;
} */
/* Image Gallery End */

/* Display End */

/* Float Start */
/* .logo{
    float: left;
}

.right-side-menu{
    float: right;
}

.menu{
    background-color: brown;
}

.clearfix{
    clear: both;
} */
/* Float End */

/* Position Start */
/* .posi-rele div {
    position: relative;
    height: 200px;
    width: 200px;
}

.posi-ab div {
    position: absolute;
    height: 200px;
    width: 200px;
}

.posi-sticky {
    height: 1000px;
}

.posi-sticky div {
    height: 600px;
    width: 600px;
}

.row {
    display: flex;
}

.box1 {
    top: 50px;
    left: 100px;
    background-color: rebeccapurple;
}

.box2 {
    top: 10px;
    left: 10px;
    background-color: olive;
}

.box3 {
    background-color: brown;
}

.box4 {
    background-color: teal;
}

.box11 {
    background-color: rebeccapurple;
}

.box12 {
    background-color: teal;
}

.box13 {
    background-color: brown;
}

.box14 {
    background-color: olive;
}

.posi-sticky-txt {
    position: sticky;
    position: fixed;
    right: 0px;
    top: 0px;
} */

/* Position Sticky Start */
/* .posi-sticky {
    height: 18000px;
}

.posi-sticky-txt {
    position: sticky;
    top: 0;
} */
/* Position Sticky End */
/* Position End */

/* Transform Start */
/* img{
    height: 200px;
    width: 200px;
    transition: all 2s;
}

.hover-scale:hover{
    transform: scale(2);
}

.hover-matrix:hover{
    transform: matrix(1, 2, 3, 4, 5, 6);
}

.hover-rotate:hover{
    transform:rotate(45deg)
    transform:rotateX(45deg)
    transform:rotateY(45deg)
    transform:rotateZ(45deg)
    transform:rotate3d(1,2,3,45deg)
}
.hover-translate:hover{
    transform: translate(120px, 50%);
}

.hover-skew:hover{
    transform:skew(30deg, 20deg);
} */
/* Transform End */

/* Animation Start */
/* .p-animate { */
/* animation: 3s linear slidein; */
/* animation-name: slidein; */
/* animation-duration: 3s; */
/* animation-direction: alternate; */
/* animation-fill-mode: forwards; */
/* animation-timing-function: linear; */
/* animation-iteration-count: infinite; */
/* animation-direction: alternate-reverse; */
/* animation-timing-function: ease-in-out; */
/* animation-play-state: paused; */
/* animation-fill-mode: backwards; */
/* } */

/* @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
} */
/* @keyframes slidein {
    0%{margin-left: 100%;
        width: 300%;}
    20%{margin-left: 80%;
        width: 300%;}
    40%{margin-left: 60%;
        width: 300%;}
    60%{margin-left: 40%;
        width: 200%;}
    80%{margin-left: 20%;
        width: 150%;}
    100%{margin-left: 0%;
        width: 100%;}
} */

/* Animate Start */
/* div1 {
    width: 100px;
    height: 100px;
    background: lightcoral;
    animation-name: xyz;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

@keyframes xyz {

    from{background: lightcoral;}
			to{background: blue;}

    0% {
        background-color: brown;
    }

    10% {
        background-color: orange;
    }

    20% {
        background-color: orangered;
    }

    30% {
        background-color: yellow;
    }

    40% {
        background-color: rebeccapurple;
    }

    50% {
        background-color: firebrick;
    }

    60% {
        background-color: green;
    }

    70% {
        background-color: white;
    }

    100% {
        background-color: blueviolet;
    }
}

.div2 {
    width: 100px;
    height: 100px;
    background: blue;
    animation-name: antique;
    animation-duration: 2s;
    position: relative;

    animation-iteration-count: 12;
}

@keyframes antique {
    0% {
        background: blue;
        left: 0;
        top: 0
    }

    10% {
        background: red;
        left: 200px;
        top: 0;
        border-radius: 50%;
        transform: rotate(180deg);
    }

    20% {
        background: green;
        left: 200px;
        top: 200px
    }

    30% {
        background: hotpink;
        left: 0px;
        top: 200px
    }

    100% {
        background: gray;
        left: 0;
        top: 0
    }
} */
/* Animate End */

/* FlipImage Start */
/* body {
    font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 10px;
}

.flip-card-back {
    border-radius: 10px;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
} */
/* FlipImage End */

/* Hover Start */
/* .g-box {
    width: 21%;
    height: 220px;
    position: relative;
    cursor: pointer;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px #c4aa19;
}

.g-box img {
    width: 100%;
    height: 100%;
}

.g-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    transition: all 1s;
    clip-path: circle(0% at 50% 50%);
}

.g-box:hover .g-content {
    clip-path: circle(100% at 50% 50%);
} */

/* .g-content h1 {
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 3em;

} */
/* .g-box:hover img {
    filter: blur(10px);
    transform: scale(1.1);
} */
/* Hover End */

/* HoverAfterBefore Start */
/* .t-box {
    width: 35%;
    height: 380px;
    background: white;
    overflow: hidden;
    position: relative;
    padding: 15px 15px;
}

.t-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 15px #c4aa19;
}

.t-box .t-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.t-box .t-box-content::before,
.t-box .t-box-content::after {
    content: '';
    width: 80%;
    height: 43%;
    background: #c4aa19;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s;
    opacity: 0;
    transform: rotate(-30deg);
}

.t-box .t-box-content::before {
    top: -20%;
}

.t-box .t-box-content::after {
    bottom: -20%;
}

.t-box:hover .t-box-content::before {
    top: 7%;
    opacity: 0.5;
    transform: rotate(0deg);
}

.t-box:hover .t-box-content::after {
    bottom: 7%;
    opacity: 0.5;
    transform: rotate(0deg);
}

.t-box .content {
    width: 100%;
    height: 45%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    text-align: center;
    transform: rotate(90deg);
    opacity: 0;
    transition: all 0.5s;
}

.t-box .social {
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
    margin-left: -4% !important;
}

.t-box .social li {
    display: inline-block;
    margin-right: 10px;
}

.t-box .social li a {
    color: black;
    background: white;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s;
}

.t-box .title {
    font-size: 4em;
    font-family: 'Tangerine', cursive;
}

.t-box:hover .content {
    opacity: 1;
    transform: rotate(0deg);
}

.t-box .social li a .fab:hover {
    color: #c4aa19;
}

.t-box .social li a:hover {
    transform: scale(1.2);
} */
/* HoverAfterBefore End */

/* Keyframe Start */
/* @keyframes cust-ani {
    0% {
        font-size: 2px;
    }

    20%{font-size: 4px;}
    40%{font-size: 8px;}
    60%{font-size: 16px;}
    80%{font-size: 32px;}
    100% {
        font-size: 64px;
    }
}

.txt {
    transition: all 5s;
    font-size: 64px;
    animation: 3s ease-in cust-ani;
} */
/* Keyframe End */

/* Left-Right Start */
/* @keyframes left-right {
    0%{  left: 1100px; }
    100%{ left: 100px; }
}
@keyframes right-left {
    0%{  margin-left: 0px; }
    100%{  margin-left: 800px;}
    0%{  left: 0px; }
    100%{ left: 900px;}
}
.row{ display: flex; }
.right-div{
    position: relative;
    right: 20px;
    position: relative;
    margin-left: 300px;
    left: 900px;
    animation: 3s  linear right-left;
}
.col{
    height: 20px;
    box-shadow: 3px 3px 20px grey;
    padding: 50px;

}
.left-div{
    position: relative;
    left: 100px;
    animation: 3s  linear left-right;
} */
/* Left-Right End */

/* Page-load Start */
/* @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  a{
      color: white;
  } */
/* header {   */
/* This section calls the slideInFromLeft animation we defined above */
/* animation: 1s ease-out slideInFromLeft;
    
    background: #333;
    padding: 30px; */
/* } */
/* Page-load End */

/* Rotate Start */
/* .hov-img {
    transition: all 2s;
    transform: rotateY(45deg);
    transform: rotateY(-50deg);
    transform-origin: right;
    transform-origin: left;
    transition: all 5s;
}

.hov-img:hover {
    transform: rotate(60deg);
    transform: rotate3d(1,20,30,180deg);
    transform: rotateX(180deg);
    transform: rotateY(20deg);
    perspective: 1600px;
}

.txt {
    position: absolute;
    top: 6%;
    font-size: 36px;
    color: white;
    display: none;
    background-color: grey;
    height: 110px;
    width: 140px;
    text-align: center;
    margin-left: 10px;
    transition: all 5s;
}
.hovme{
    transition: all 5s;
}
.txt:hover  {
    transform: rotateZ(180deg);
}
.hovme:hover .txt {
    transform: translate(8%);
    transform: translate(5%, 5%);
    transform: rotateZ(180deg);
    transform: scale(2);
    display: block;
} */
/* Rotate End */

/* Animation End */

/* MediaQuery Start */
/* * {
    box-sizing: border-box;
    border: 1px solid;
}

.container {
    width: 80%;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    width: 100%;
}


@media (min-width:576px) {
    .container {
        width: 520px;
        margin: 0 auto;
    }
    .col-25 {
        width: 50%;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
    .col-25 {
        width: 50%;
    }
}

@media (min-width:992px) {
    .container {
        width: 940px;
        margin: 0 auto;
    }

    .col-25 {
        width: 33.33%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }

    .col-25 {
        width: 25%;
    }
} */

/* MediaQuery Example Start */
/* * {
    box-sizing: border-box;
    border: 1px solid;
}

.container {
    width: 80%;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.col-33 {
    width: 100%;
}

@media (min-width:576px) {
    .container {
        width: 520px;
        margin: 0 auto;
    }
    
    .col-25 {
        width: 50%;
    }

    .col-50 {
        width: 100%;
    }

    .col-33 {
        width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
        margin: 0 auto;
    }
    
    .col-25 {
        width: 50%;
    }
    
    .col-50 {
        width: 50%;
    }
    
    .col-33 {
        width: 50%;
    }
}

@media (min-width:992px) {
    .container {
        width: 940px;
        margin: 0 auto;
    }

    .col-25 {
        width: 33.33%;
    }

    .col-50 {
        width: 50%;
    }
    
    .col-33 {
        width: 33.33%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }
    
    .col-25 {
        width: 25%;
    }
    
    .col-50 {
        width: 50%;
    }

    .col-33 {
        width: 33.33%;
    }
} */
/* MediaQuery Example End */

/* ScreenSize Start */
/* @media print {
    p {
        color: orange;
    }
}

@media (min-width: 1250px) {
    …
}

@media (max-width: 1250px) {
    …
}

@media (min-width: 30em) and (orientation: landscape) {
    …
}

@media (min-width: 30em) and (max-width: 50em) {
    …
} */

/* ScreenSize End */

/* MediaQuery End */